.container h1 {
  font-size: 25px;
  color: #E45456;
}
.container p {
  font-size: 25px;
  color: #3C7949;
}
.container .box h1 {
  font-size: 25px;
  color: #E45456;
}
.container .box p {
  font-size: 25px;
  color: #3C7949;
}

/*# sourceMappingURL=test.css.map */
